
.table {
  width: auto;
}

.br {
  height: 10px;
}

.control-label {
    width:100%;
}


.well {
  padding: 7px;
  margin-bottom: 10px;
}

/* Espacement entre checkbox */
.checkbox {
  margin-top: 0;
  margin-bottom: 0;
}

/* Espacement les boites */
.form-group {
  margin-top: 0;
  margin-bottom: 0;
}

/* Permet de fixer la taille de la premiere colonne et ajuster la 2eme  */

.col-sm-3{
  max-width: 315px;
  min-width: 300px;
}
.col-sm-9{
  width: calc(100% - 330px);
}

/* Couleur des boutons : */
.help_btn  {
  color: #5cb85c;
  
}
.btn {
  color: white;
  background-color: #5cb85c;
}

/* allow all textareas and multiple-select inputs to resize vertically */
/* have to set overflow to make resize work on Safari                   */
/* based on https://css-tricks.com/almanac/properties/r/resize/         */
textarea,
select {
  resize: vertical;
  overflow: auto;
  max-width: 100%;
  font-size:13px !important;
}


/*
### PARAMETRAGE DU NAVBAR 
*/

.navbar {
  margin-bottom: 10px;
  background-color: #000091;
}

/* met le titre navbar en blanc: */
.navbar-default .navbar-brand {
  color: white;
}

/* met les éléments par défaut en blanc */
.navbar-default .navbar-nav > li > a {
  color: white;
}


.navbar-nav > .active > a {
  color: #000091 !important;
  background-color:white !important;
}

.navbar-nav li a:hover {
  color: #000091 !important;
  background-color:white !important;
  background-image: none !important;
}


.datatables{
  overflow-y:auto;
  min-height:750px;
}


#dataviewer,#sql_dt{
  overflow-y:auto;
  min-height:750px;
}



/* disposition des onglets et du bouton pour ajouter des onglets */
.nav-pills {
  margin-bottom: 8px;
}

.nav-pills>li+li{
  margin-left: 8px;
}

.nav-pills > .list_button {
  padding: 0px 0px;
  transform: scale(1);
}
.nav-pills > .list_button > button {
  padding: 9px 15px;
}

.nav-pills > li:not(.active) > a {
  background-color: #bed4e759 ;
}



/*
### PARAMETRAGE DU DATATABLE 
*/

table.dataTable tfoot td,
table.dataTable thead td {
  padding: 0 0 0 0;
}
table {
  white-space: nowrap;
}

table.dataTable{
  margin-left: 0px !important;
}

.alignright {
  float: right;
}

/*
### PARAMETRAGE DES ERREURS 
*/

.shiny-output-error {
  color: red;
}


.list_button {
  margin-left: 0px;
  margin-right: 0px;
  padding-top: 2.2px;
  padding-left: 10px;
  transform: scale(1.15);
}

